body {
    font-family: "Arial", sans-serif;
    line-height: 1.6;
    color: #333;
    background: #f4f4f4;
    margin: 0;
    overflow: hidden;
}

.menu-superior {
    background: #000e5a;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nombre-web {
    font-size: 24px;
    font-weight: bold;
}

.enlaces-nav {
    display: flex;
    list-style: none;
    margin: 0;
}

.boton{
  color: #ffd814;
  background-color: #ffd814;
  padding: 5px;
  border-radius: 5px;
  font-weight: bolder;
}

.portada {
    height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), #151d4d), url("poli.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.contenido-portada {
    max-width: 800px;
}

/* NAVBAR */
.menu-superior {
  background: #151d4d;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 4001;
}

.nombre-web {
  font-size: 24px;
  font-weight: bold;
}

.nombre-web span {
  color: #ffd814;
}

.enlaces-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.enlaces-nav li {
  margin-left: 20px;
}

.enlaces-nav a {
  color: #151d4d;
  text-decoration: none;
  font-weight: bolder;
  background-color: #ffd814;
  border-radius: 5px;
  padding: 5px;
}

.enlaces-nav li a:hover {
    background-color: #ff8800;
}
.enlaces-nav li:hover {
    transform: scale(1.2);
}
.enlaces-nav li:hover {
    transition-duration: 500ms;
}

/* CONTENEDOR PRODUCTO */
.producto-container {
  display: flex;
  padding: 30px;
  gap: 40px;
}

/* IMÁGENES */
.imagenes {
  width: 40%;
}

#imgPrincipal {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.miniaturas {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.miniaturas img {
  width: 70px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.miniaturas img:hover {
  border: 2px solid #ffd814;
}

/* INFO */
.info-producto {
  width: 60%;
}

.info-producto h1 {
  font-size: 28px;
}

.precio {
  font-size: 26px;
  color: #b12704;
  font-weight: bold;
}

.descripcion {
  margin: 20px 0;
  font-size: 16px;
}

.stock {
  color: green;
  font-weight: bold;
}

/* BOTONES */
.btn-comprar {
  display: block;
  width: 250px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #ffd814;
  cursor: pointer;
  font-weight: bold;
}

.btn-comprar:hover {
  background-color: #f7ca00;
}

.ahora {
  background-color: #ff9900;
}

.ahora:hover {
  background-color: #e68a00;
}